.height-100{height: 100vh;}
.height-95{height: 95vh;}
.height-85{height: 85vh;}
.height-80{height: 80vh;}
.height-75{height: 75vh;}
.height-70{height: 70vh;}
.height-65{height: 65vh;}
.height-60{height: 60vh;}
.height-50{height: 50vh;}
.height-45{height: 45vh;}
.height-40{height: 40vh;}
.height-35{height: 35vh;}
.height-30{height: 30vh;}
.height-25{height: 25vh;}
.height-20{height: 20vh;}
.height-15{height: 15vh;}
.height-10{height: 10vh;}
.height-5{height: 5vh;}
.height-0{height: 0vh;}
.height-auto{height: auto;}
