.max-width-100{max-width: 1430px;}
.max-width-90{max-width: 1200px;}
.max-width-80{max-width: 980px;}
.max-width-70{max-width: 850px;}
.max-width-60{max-width: 720px;}
.max-width-50{max-width: 630px;}
.max-width-40{max-width: 560px;}
.max-width-30{max-width: 480px;}
.max-width-20{max-width: 320px;}
.max-width-10{max-width: 270px;}

.margin-auto{margin: 0 auto;}
